extends layout

block content
  h3 Bandleader: #{bandleader}
  
  div.card.my-card    
    div.card-body
      h3.card-header GIG DETAILS
      div.text-align-left.my-card-body
        | $#{pay} + tips<br><br>
        | #{day}, #{date}<br>
        | #{startTime} - #{endTime}<br><br>
        | #{venueCompleteName}<br>
        | #{venueAddress}<br>
        | MAP: <a href="#{mapURL}", target="_blank">Click here</a><br><br>
        | DRESS: #{dress}<br>
        | INSTRUMENTATION: #{instrumentation}<br>
        | MUSIC: #{music}<br><br>
        | FOOD: #{food}<br><br>
  div.card.my-card  
    div.card-body
      div.card-header
        h3 BOOKER'S TERMS & POLICIES
        h4 Included as per agent's request.
      div.text-align-left.my-card-body
        ul
          li Naperville: Musical performance should consist of  45 minute sets with 15 minute breaks or 1 hour sets with 20 minute breaks. At no time should any breaks exceed 20 minutes.
          li Lincolnshire: Musical performance should consist of 4 - 45 minute sets with 4 -15 minute breaks. The last set will be (30) minutes with no break.
          li All required musical equipment and sound with the exception of piano must be provided by Band.
          li All instrument cases should be stored in coat room or other area desgnated by Venue management.
          li Song playlist to be created in order to minimize down time between songs.
          li Dress attire is required / black in color prefered but not required. No gym shoes, jeans, khakis, T-shirts or caps will be allowed.
          li The music format will be uptempo Contemporary Jazz, Pop and R&B standards/well-known cover tunes. 
          li Musical selections should be up-tempo and provide energy for the room.
          li All Performers and Band members should arrive at least 45 minutes prior to the scheduled start time
          li A $25.00 fee will be assessed against the Performer for every 15 minutes or fraction thereof that Performer or any Band member is not prepared to perform by scheduled start time.
          li Performer, Band or their guests may not sit at bar or tables without making purchases. Restaurant patrons shoud always be given a preference for all seating and tables. If family and/or friends are present they must actively be purchasing items as bar patrons.
          li Venue does not provide a discount on alcholic beverages or food.
          li Based upon initial performance(s) management must approve moving ahead with the weekly schedule. 
  div.remove-side-margins
    h3 GIG DETAILS
    div.text-align-left.my-card-body
      | $100 + tips<br><br>
      | Thu, 10/05/17<br>
      | 5:30pm-9:30pm<br><br>
      | Sullivan's Steak House - NAPERVILLE location.<br>
      | 244 S Main St, Naperville, IL 60540<br>
      | MAP: <a href="https://goo.gl/maps/Vnrnhkhuqby", target="_blank">Click here</a><br><br>
      | DRESS: Look sharp. Jacket, pants, dress shoes. Darker colors. Tie is a nice option.<br>
      | GROUP: Piano/Drums duo (strange, I know)<br>
      | MUSIC: Anything you want to play. For example: jazz, pop, blues, R&B, soul, funk, etc.<br><br>
      | $7 bar menu specials on Thursdays.<br><br>
    h3 BOOKER'S TERMS & POLICIES
    h4 Included as per agent's request.
    div.text-align-left.my-card-body
      ul
        li Naperville: Musical performance should consist of  45 minute sets with 15 minute breaks or 1 hour sets with 20 minute breaks. At no time should any breaks exceed 20 minutes.
        li Lincolnshire: Musical performance should consist of 4 - 45 minute sets with 4 -15 minute breaks. The last set will be (30) minutes with no break.
        li All required musical equipment and sound with the exception of piano must be provided by Band.
        li All instrument cases should be stored in coat room or other area desgnated by Venue management.
        li Song playlist to be created in order to minimize down time between songs.
        li Dress attire is required / black in color prefered but not required. No gym shoes, jeans, khakis, T-shirts or caps will be allowed.
        li The music format will be uptempo Contemporary Jazz, Pop and R&B standards/well-known cover tunes. 
        li Musical selections should be up-tempo and provide energy for the room.
        li All Performers and Band members should arrive at least 45 minutes prior to the scheduled start time
        li A $25.00 fee will be assessed against the Performer for every 15 minutes or fraction thereof that Performer or any Band member is not prepared to perform by scheduled start time.
        li Performer, Band or their guests may not sit at bar or tables without making purchases. Restaurant patrons shoud always be given a preference for all seating and tables. If family and/or friends are present they must actively be purchasing items as bar patrons.
        li Venue does not provide a discount on alcholic beverages or food.
        li Based upon initial performance(s) management must approve moving ahead with the weekly schedule.
                        
  div
    h3 GIG DETAILS
    div.text-align-left.my-card-body
      | $100 + tips<br><br>
      | Thu, 10/05/17<br>
      | 5:30pm-9:30pm<br><br>
      | Sullivan's Steak House - NAPERVILLE location.<br>
      | 244 S Main St, Naperville, IL 60540<br>
      | MAP: <a href="https://goo.gl/maps/Vnrnhkhuqby", target="_blank">Click here</a><br><br>
      | DRESS: Look sharp. Jacket, pants, dress shoes. Darker colors. Tie is a nice option.<br>
      | GROUP: Piano/Drums duo (strange, I know)<br>
      | MUSIC: Anything you want to play. For example: jazz, pop, blues, R&B, soul, funk, etc.<br><br>
      | $7 bar menu specials on Thursdays.<br><br>
    h3 BOOKER'S TERMS & POLICIES
    h4 Included as per agent's request.
    div.text-align-left.my-card-body
      ul
        li Naperville: Musical performance should consist of  45 minute sets with 15 minute breaks or 1 hour sets with 20 minute breaks. At no time should any breaks exceed 20 minutes.
        li Lincolnshire: Musical performance should consist of 4 - 45 minute sets with 4 -15 minute breaks. The last set will be (30) minutes with no break.
        li All required musical equipment and sound with the exception of piano must be provided by Band.
        li All instrument cases should be stored in coat room or other area desgnated by Venue management.
        li Song playlist to be created in order to minimize down time between songs.
        li Dress attire is required / black in color prefered but not required. No gym shoes, jeans, khakis, T-shirts or caps will be allowed.
        li The music format will be uptempo Contemporary Jazz, Pop and R&B standards/well-known cover tunes. 
        li Musical selections should be up-tempo and provide energy for the room.
        li All Performers and Band members should arrive at least 45 minutes prior to the scheduled start time
        li A $25.00 fee will be assessed against the Performer for every 15 minutes or fraction thereof that Performer or any Band member is not prepared to perform by scheduled start time.
        li Performer, Band or their guests may not sit at bar or tables without making purchases. Restaurant patrons shoud always be given a preference for all seating and tables. If family and/or friends are present they must actively be purchasing items as bar patrons.
        li Venue does not provide a discount on alcholic beverages or food.
        li Based upon initial performance(s) management must approve moving ahead with the weekly schedule.
